#Arquivos de logs, histórico e outros gerados pelo Altium Designer
/Arquivos-fontes/__Previews/
/Arquivos-fontes/History/
/Arquivos-fontes/Project Outputs for ServoControl/
/Arquivos-fontesServoControl.PrjPcbStructure
/Arquivos-fontesServoControl.PrjPcbVariants

#Templates e ferramentas para edição do relatório
/Documentacao/ref/
/Documentacao/Thumbs.db




